body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}

button {
    grid-column: 1 / -1;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: center;
}

.review {
    font-size: 0.9em;
    margin-top: 5px;
}

.book-thumbnail {
    width: 100px;
}
