<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan's Reading List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Book List</h1>
        <!-- Change the "Search Books" link to a button -->
        <a href="{{ url_for('search') }}" class="btn btn-secondary mb-3">Search Books</a>
        <form method="POST" action="{{ url_for('add_searched_book') }}">
            <!-- Add the Bootstrap class "form-control" to the title input field -->
            <input type="text" name="title" placeholder="Title" required class="form-control">
            <!-- Rest of your form elements -->
            <div class="form-group">
                <label for="authors">Authors:</label>
                <input type="text" class="form-control" id="authors" name="authors" required>
            </div>
            <div class="form-group">
                <label for="rating">Rating:</label>
                <input type="number" class="form-control" id="rating" name="rating" min="1" max="10" required>
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea class="form-control" id="review" name="review" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
        <hr>
        <ul class="list-unstyled">
            {% for book in books %}
            <li class="media my-4">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ book.title }}</h5>
                    Author(s): {{ book.authors }}<br>
                    Rating: {{ book.rating }}<br>
                    Review: <small>{{ book.review }}</small>
                    <div>
                        <form method="GET" action="{{ url_for('update_page', book_id=book.id) }}" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-outline-primary">Update</button>
                        </form>
                        <a href="{{ url_for('delete_book', book_id=book.id) }}"
                            class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>